
Primeiro Semestre/CD/tsetup-x64.3.7.3.exe
Primeiro Semestre/CD/Anaconda3-2021.11-Windows-x86_64.exe
Segundo Semestre/Programação/TP02/TestaFila.o
Segundo Semestre/Programação/TP02/TestaFila.exe
Segundo Semestre/Programação/TP02/Fila.o
Segundo Semestre/Programação/TP02/Aluno.o
Segundo Semestre/Programação/Segunda Lista/.vscode/tasks.json
Segundo Semestre/Programação/Segunda Lista/terceira.exe
.gitignore
.gitignore
Segundo Semestre/Programação/Segunda Lista/quarta.exe
.gitignore
Segundo Semestre/Programação/Segunda Lista/sexta.exe
Segundo Semestre/Programação/Segunda Lista/primeira.exe
Segundo Semestre/Programação/TP04/TestaPilha.o
Segundo Semestre/Programação/TP04/TestaPilha.exe
Segundo Semestre/Programação/TP04/Pilha.o
Segundo Semestre/Programação/TP04/Aluno.o
